Repository ESGIN2MA/VUE_PROJECT: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Logique du routage sur les pages register, login, home
  src/components/Navbar.vue
  src/router/index.ts
  src/router/routes.ts
  src/views/LogInView.vue
  src/views/RegisterView.vue
Due: eslint --fix

chore: remove cache
  .github/workflows/lint.yml
Due: prettier --write

chore: setup tools
  .github/workflows/lint.yml
  .github/workflows/type-check.yml
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  .prettierrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/App.vue
  src/assets/base.css
  src/assets/logo.svg
  src/assets/main.css
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
  src/components/__tests__/HelloWorld.spec.ts
  src/components/icons/IconCommunity.vue
  src/components/icons/IconDocumentation.vue
  src/components/icons/IconEcosystem.vue
  src/components/icons/IconSupport.vue
  src/components/icons/IconTooling.vue
  src/main.ts
  src/router/index.ts
  src/stores/counter.ts
  src/views/AboutView.vue
  src/views/HomeView.vue
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: setup tools
  .github/workflows/lint.yml
  .github/workflows/type-check.yml
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  .prettierrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/App.vue
  src/assets/logo.svg
  src/assets/main.css
  src/components/__tests__/HelloWorld.spec.ts
  src/components/icons/IconCommunity.vue
  src/components/icons/IconDocumentation.vue
  src/components/icons/IconEcosystem.vue
  src/components/icons/IconSupport.vue
  src/components/icons/IconTooling.vue
  src/main.ts
  src/router/index.ts
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: lint
  .husky/pre-commit
  package.json
  src/App.vue
  src/components/FormationList.vue
  src/components/NavBar.vue
  src/router/index.ts
  src/router/routes.ts
Due: eslint --fix, prettier --write

feat: add router (#18)
  .husky/pre-commit
  M1 projet VueJS.pdf
  package-lock.json
  package.json
  src/App.vue
  src/assets/base.css
  src/components/NavBar.vue
  src/interfaces/Formation.ts
  src/router/index.ts
  src/router/routes.ts
  src/stores/formation.ts
  src/views/HomeView.vue
  src/views/LogInView.vue
  src/views/RegisterView.vue
Due: eslint --fix, prettier --write

Feat : add anime detail page Add anime detail page with placeholder data and basic css
  src/assets/anime-detail.css
  src/router/index.ts
  src/views/AnimeDetail.vue
Due: eslint --fix, prettier --write

Code Structuration
  src/components/FormationList.vue
  src/components/Navbar.vue
Due: eslint --fix

FEAT: Add HomePage with anime list
  package-lock.json
  src/components/AnimeCard.vue
  src/components/AnimeList.vue
  src/components/FavoriteList.vue
  src/components/FormationList.vue
  src/components/Navbar.vue
  src/interfaces/Anime.ts
  src/interfaces/Formation.ts
  src/stores/anime.ts
  src/stores/formation.ts
  src/utils/ExternalAPI.ts
  src/views/HomeView.vue
Due: eslint --fix, prettier --write

Rebase & update
  package-lock.json
  package.json
Due: prettier --write

Fix linter
  src/App.vue
  src/assets/base.css
  src/components/AnimeCard.vue
  src/components/AnimeList.vue
  src/components/FavoriteList.vue
  src/components/NavBar.vue
  src/components/Navbar.vue
  src/interfaces/Anime.ts
  src/router/index.ts
  src/stores/anime.ts
  src/utils/ExternalAPI.ts
  src/views/HomeView.vue
  src/views/LogInView.vue
  src/views/RegisterView.vue
Due: eslint --fix, prettier --write

correction eslint
  src/components/NavBar.vue
  src/router/index.ts
  src/router/routes.ts
  src/views/UserProfileView.vue
Due: eslint --fix

Fix type-check
  src/components/AnimeCard.vue
  src/utils/ExternalAPI.ts
Due: eslint --fix

Chore : fix rebase conflicts
  src/assets/anime-detail.css
  src/views/AnimeDetail.vue
Due: eslint --fix, prettier --write

feat: register form
  .prettierrc
  package-lock.json
  package.json
  src/router/routes.ts
  src/stores/useUsersStore.ts
  src/views/RegisterView.vue
Due: eslint --fix, prettier --write

feat: register form (#21)
  .prettierrc
  package-lock.json
  package.json
  src/router/routes.ts
  src/stores/useUsersStore.ts
  src/views/RegisterView.vue
Due: eslint --fix, prettier --write

Implement favorite anime component & update CSS
  package-lock.json
  package.json
  src/assets/main.css
  src/components/AnimeCard.vue
  src/components/AnimeList.vue
  src/components/FavoriteList.vue
  src/components/NavBar.vue
  src/stores/anime.ts
  src/utils/ExternalAPI.ts
  src/views/HomeView.vue
Due: eslint --fix, prettier --write

Change to light-mode
  src/assets/main.css
  src/components/AnimeCard.vue
Due: eslint --fix, prettier --write

feat: favorites animes component (#22)
  package-lock.json
  package.json
  src/assets/main.css
  src/components/AnimeCard.vue
  src/components/AnimeList.vue
  src/components/FavoriteList.vue
  src/components/NavBar.vue
  src/stores/anime.ts
  src/utils/ExternalAPI.ts
  src/views/HomeView.vue
Due: eslint --fix, prettier --write

Change Website title & icon
  index.html
  public/tinder_icon.png
Due: none

Feat : working anime detail page, with image
  src/assets/anime-detail.css
  src/router/index.ts
  src/router/routes.ts
  src/views/AnimeDetail.vue
Due: eslint --fix, prettier --write

Chore : remove unused files
  src/components/FormationList.vue
  src/components/NavBar.vue
  src/components/Navbar.vue
  src/interfaces/Formation.ts
  src/stores/formation.ts
Due: eslint --fix

Chore : add back accidentally deleted file due to OS changes
  src/components/NavBar.vue
Due: eslint --fix

Add link from anime card to anime detail
  src/assets/main.css
  src/components/AnimeCard.vue
  src/router/index.ts
  src/router/routes.ts
  src/views/AnimeDetail.vue
Due: eslint --fix, prettier --write

revert temporaire user store
  src/components/NavBar.vue
  src/views/UserProfileView.vue
Due: eslint --fix

feat: login
  src/components/NavBar.vue
  src/interfaces/User.ts
  src/stores/useAuthStore.ts
  src/stores/useUsersStore.ts
  src/views/LogInView.vue
  src/views/RegisterView.vue
Due: eslint --fix

feat: login (#26)
  src/components/NavBar.vue
  src/interfaces/User.ts
  src/stores/useAuthStore.ts
  src/stores/useUsersStore.ts
  src/views/LogInView.vue
  src/views/RegisterView.vue
Due: eslint --fix

feat: logout
  src/components/NavBar.vue
  src/stores/useAuthStore.ts
Due: eslint --fix

feat: logout (#27)
  src/components/NavBar.vue
  src/stores/useAuthStore.ts
Due: eslint --fix

Add smooth scroll & update CSS
  index.html
  src/components/AnimeCard.vue
  src/components/FavoriteList.vue
  src/components/NavBar.vue
Due: eslint --fix

Feat: add better visuals and small utility features to anime details
  src/views/AnimeDetail.vue
Due: eslint --fix

Feat: add better visuals and small utility features to anime details (#29)
  src/views/AnimeDetail.vue
Due: eslint --fix

Add dark mode
  src/assets/base.css
  src/assets/main.css
  src/components/NavBar.vue
Due: eslint --fix, prettier --write

refactor: animes and favorites stores
  .husky/pre-commit
  src/components/AnimeCard.vue
  src/components/AnimeList.vue
  src/components/FavoriteList.vue
  src/router/index.ts
  src/stores/anime.ts
  src/stores/useAnimesStore.ts
  src/stores/useFavoritesStore.ts
  src/stores/useUsersStore.ts
  src/views/AnimeDetail.vue
  src/views/AnimeView.vue
Due: eslint --fix

feat: dark mode (#30)
  src/assets/base.css
  src/assets/main.css
  src/components/NavBar.vue
Due: eslint --fix, prettier --write

refactor: animes and favorites stores (#31)
  .husky/pre-commit
  src/components/AnimeCard.vue
  src/components/AnimeList.vue
  src/components/FavoriteList.vue
  src/router/index.ts
  src/stores/anime.ts
  src/stores/useAnimesStore.ts
  src/stores/useFavoritesStore.ts
  src/stores/useUsersStore.ts
  src/views/AnimeDetail.vue
  src/views/AnimeView.vue
Due: eslint --fix

logique de modification du profile + correction ESlint
  package-lock.json
  src/components/NavBar.vue
  src/router/index.ts
  src/router/routes.ts
  src/stores/useAuthStore.ts
  src/stores/useUsersStore.ts
  src/views/LogInView.vue
  src/views/RegisterView.vue
  src/views/UserProfileView.vue
Due: eslint --fix, prettier --write

Add AnimeList sorting
  src/components/AnimeList.vue
  src/components/NavBar.vue
  src/stores/useAnimesStore.ts
Due: eslint --fix

nettoyage des roles utilisateurs, utilisation du localstorage pour la connexion
  src/components/NavBar.vue
  src/interfaces/User.ts
  src/router/index.ts
  src/stores/useAuthStore.ts
  src/stores/useUsersStore.ts
  src/views/AnimeDetail.vue
  src/views/UserProfileView.vue
Due: eslint --fix

feat: user profile (#34)
  package-lock.json
  src/interfaces/User.ts
  src/router/index.ts
  src/router/routes.ts
  src/stores/useAuthStore.ts
  src/stores/useUsersStore.ts
  src/views/LogInView.vue
  src/views/RegisterView.vue
  src/views/UserProfileView.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,cjs,ts,ts,vue}
  prettier --write: any of: *.{json,md,css,yml}
